* {
  transition: all 200ms ease;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.icon-action {
  font-size: 25px;
  cursor: pointer;
}

.icon-lock-locked {
  color: #505050;
}

.icon-lock-locked:hover {
  color: #9e9e9e;
}

.icon-lock-unlocked {
  color: #9e9e9e;
}
.icon-lock-unlocked:hover {
  color: #505050;
}

.icon-swap {
  color: #028090;
  font-size: 14px;
}

.icon-swap:hover {
  color: #505050;
}

.margin-top-sm { margin-top: 5px; }
.margin-top-md { margin-top: 10px; }
.margin-top-lg { margin-top: 25px; }

.section-row {
  border-bottom: 5px solid #028090;
}

.section-divider {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Modal */

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background: #05668D;
  color: #FFF;
  border-radius: 5px 5px 0 0;
}

.modal-header .close {
  color: #FFF;
}

h4, .h4 {
  font-weight: bold;
  font-size: 16px;
}

pre {
  overflow: initial;
  white-space: initial;
}

/* Navbar */

.navbar-foonts {
  background-color: #05668D;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-foonts  .navbar-brand {
  color: #f5f5f5;
  font-size: 25px;
  font-family: 'Sonsie One', cursive;
}

.navbar-foonts  .navbar-brand:hover,
.navbar-foonts  .navbar-brand:focus {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a {
  color: #f5f5f5;
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}
.section-title {
  color: #028090;
}

.banner {
  background: #FFF;
  color: #757575  ;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

/* Editable */
.editable {
  width: 100%;
  border: none;
  display: block;
  word-wrap: break-word;
  resize: none;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.editable-title {
  line-height: 1;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  display:inline-block;
  min-height:10px;
}

.editable-content {
  line-height: 1;
}

/* footer */

footer {
  font-size: 12px;
  background: #F5F5F5;
  color: #616161;
  font-family: sans-serif;
  position: absolute;
  padding: 8px;
  width: 100%;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: none;
  color: #222;
}
