*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  transition: all 200ms ease;
}

html, body {
  background: #F4F4F4;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  height:100%;
}

.main-container {
  min-height:100%;
  position:relative;
}

.body-container {
  padding-bottom: 33px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Force navbar to stay in one line*/
.navbar-header {
  float: left;
}
.navbar-nav {
  margin: 0;
}
.navbar-nav>li {
  float: left;
}
.navbar-right {
  float: right!important;
  margin-right: -15px;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}



.container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.icon-action {
  font-size: 25px;
  cursor: pointer;
}

.icon-lock-locked {
  color: #505050;
}

.icon-lock-locked:hover {
  color: #9e9e9e;
}

.icon-lock-unlocked {
  color: #9e9e9e;
}
.icon-lock-unlocked:hover {
  color: #505050;
}

.icon-swap {
  color: #05668D;
  font-size: 14px;
}

.icon-swap:hover {
  color: #505050;
}

/* Section commands */

.section-actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-command {
  background: #05668D;
}

.section-command:hover .icon-command {
  color: #7bcbd5;
}
.section-command:hover .icon-command.active {
  color: #d0edf0;
}

.icon-command {
  color: transparent;
  font-size: 15px;
}
.section-command:hover .icon-command:hover {
  color: #d0edf0;
}

.icon-command.active {
  color: #d0edf0;
}

.margin-top-sm { margin-top: 5px; }
.margin-top-md { margin-top: 15px; }
.margin-top-lg { margin-top: 25px; }

.section-divider {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* button */

.btn-generate {
  background-color: #05668D;
  border-color: #026b79;
  color: #FFF;
}

.btn-generate:hover,
.btn-generate:focus {
  background-color: #067aa7;
  border-color: #026b79;
  color: #FFF;
}

/* Modal */

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background: #05668D;
  color: #FFF;
  border-radius: 5px 5px 0 0;
}

.modal-header .close {
  color: #FFF;
}

h4, .h4 {
  font-weight: bold;
  font-size: 16px;
}

pre {
  overflow: initial;
  white-space: initial;
}


/* Navbar */

.navbar-foonts {
  background-color: #05668D;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-foonts  .navbar-brand {
  color: #f5f5f5;
  font-size: 25px;
  font-family: 'Sonsie One', cursive;
}

.navbar-foonts  .navbar-brand:hover,
.navbar-foonts  .navbar-brand:focus {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a {
  color: #f5f5f5;
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a.active {
  border-bottom: 5px solid #FFF;
  padding-bottom: 10px;
}

.section-title {
  color: #05668D;
}

.banner {
  background: #FFF;
  color: #757575  ;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

/* Editable */
.editable {
  width: 100%;
  border: none;
  display: block;
  word-wrap: break-word;
  resize: none;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.editable-title {
  line-height: 1;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  display:inline-block;
  min-height:10px;
}

.editable-content {
  line-height: 1;
}

/* footer */

footer {
  font-size: 12px;
  background: #F5F5F5;
  color: #616161;
  font-family: sans-serif;
  padding: 8px;
  width: 100%;
  height: 33px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: none;
  color: #222;
}


/* Explore */

.explore-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}

.explore-nav-menu {
  margin-bottom: 0;
}

.explore-nav-menu li {
  padding-right: 15px;
  padding-left: 15px;
}

.explore-nav-menu li a {
  color: #444;
}

.explore-nav-menu li a.active {
  border-bottom: 1px solid #CCC;
}

.font-pairing-item-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.font-pairing-item {
  padding: 10px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.font-pairing-item-body {
  height: 80px;
}

.font-pairing-item h3,
.font-pairing-item p {
  text-decoration: none;
  margin: 0;
  color: #424242;
}

.font-pairing-item:hover {
  text-decoration: none;
}

.font-pairing-item h3 {
  margin-bottom: 5px;
}

.font-pairing-item-status {
  margin-bottom: 0;
  color: #757575;
}

.font-pairing-wrapper {
  margin-bottom: 25px;
}

.see-more-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Spinner */

.spinner {
  text-align: center;
  margin: 50px;
  color: #05668d;
}

/* Fonts Page */
.font-item {
  margin-top: 15px;
  margin-bottom: 15px;
  background: #FFF;
  padding: 15px 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.font-item h4 {
  font-weight: normal;
  color: #666;
  margin: 0 0 5px 0;
  padding: 0;
}

.font-item h3 {
  font-weight: normal;
  margin: 0;
  padding: 0px 15px;
}

/* BTN custom */
.btn-like {
  background: #ed2553;
  color: #FFF;
  outline: none;
}

.btn-like:hover,
.btn-like:focus {
  background: #FFF;
  color: #ed2553;
  outline: none;
  border-color: #ed2553;
}

.btn-like.liked:hover,
.btn-like.liked:focus {
  background: #ed2553;
  color: #FFF;
  outline: none;
}

.btn-custom {
  border-color: #05668d;
  border-width: 2px;
}

/* Custom checkbox */

.custom-checkbox {
  display: block;
  cursor: pointer;
}

.custom-checkbox-icon {
  color: #05668d;
  vertical-align: middle;
}

.custom-checkbox-label {
  margin-left: 5px;
}

.li-fixed-width {
  width: 120px;
}
