*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  transition: all 200ms ease;
}

html,
body {
  background: #f4f4f4;
}

.body-container {
  padding-bottom: 33px;
}

.margin-top-lg {
  margin-top: 25px;
}

/* Modal */

h4,
.h4 {
  font-weight: bold;
  font-size: 16px;
}

pre {
  overflow: initial;
  white-space: initial;
}

/* Navbar */

.section-title {
  color: #05668d;
}

/* Editable */
.editable {
  width: 100%;
  border: none;
  display: block;
  word-wrap: break-word;
  resize: none;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.editable-title {
  line-height: 1;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  display: inline-block;
  min-height: 10px;
}

.editable-content {
  line-height: 1;
}

/* footer */

footer {
  font-size: 12px;
  color: #616161;
  font-family: sans-serif;
  padding: 8px;
  height: 33px;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: none;
  color: #222;
}
